In [1]:
pwd

'C:\\Users\\vigne_u98gpxi\\Desktop\\Lavviggy\\Lav\\HuntJob\\Income\\DE_CaseStudy_Dataset\\Sales_Data'

In [2]:
import sys
print(sys.version)
print(sys.exec_prefix)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
C:\Users\vigne_u98gpxi\anaconda3

In [3]:
import pyspark
from pyspark.sql import SparkSession
print(pyspark.__version__)

3.3.0

In [59]:
from pyspark.sql.functions import avg, round, col,sum,count,split,weekofyear,struct,regexp_extract,udf

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.functions import avg, round, col,sum,count,split,weekofyear,struct,regexp_extract
from pyspark.sql.functions import *
from pyspark.sql import DataFrame
from functools import reduce
from pyspark.sql.functions import from_unixtime,to_date, unix_timestamp
#import org.apache.spark.sql.functions.col
#import org.apache.spark.sql.types.IntegerType

def create_spark_session(app_name: str) -> SparkSession:
    """ Create a spark session.
    """
    ss = SparkSession.builder.appName(app_name).config("spark.jars", "mysql-connector-j-8.3.0.jar").getOrCreate()#.master('local').appName(app_name).getOrCreate()
    return ss


def read_in_data(sc: SparkSession, file: str):
    """ Return a spark DataFrame of the excel file <file>.
    """
    return sc.read.csv(file, header='true', sep=',', inferSchema=True)


def unionAll(*dfs):
    """ Return a spark DataFrame combining all the dfs.
    """
    return reduce(DataFrame.unionAll, dfs) 


replacements = {
    "int": 0,
    "double": 0.0,
    "float": 0.0,
    "string": ""
}

def missing_values_imputation(df):
    """ Return a spark DataFrame with missing values computes.
    """
    for col_name, data_type in df.dtypes:
            replacement_value = replacements.get(data_type.lower(), None)
            if replacement_value is not None:
                df = df.withColumn(col_name, when(col(col_name).isNull(), replacement_value).otherwise(col(col_name)))
    return df
    

       

# # def output_result(df: DataFrame, output_location: str, output_folder: str) -> None:
# #     """ Save the DataFrame <df> as a csv file in the location specified by
# #     <output_location>.
# #     """
# #     df.coalesce(1).write.csv(path=output_location + output_folder,
#                              mode='append', header=True)

   
    

if __name__ == '__main__':

    # create a spark session
    spark = create_spark_session("datapipeline")

    #### EXTRACT ####
    
    ####  READ BOOKS DATA ####
    
    # read in the books_data.csv as a spark DataFrame
    books_df = read_in_data(spark, 'books_data.csv')

    # read in the Books_ratingas a spark DataFrame
    books_ratings_df = read_in_data(spark, 'Books_rating.csv')
    
    
    ####  READ SALES DATA ####
    # read in the Sales_2019.csv's a spark DataFrame
    
    sales_jan_df= read_in_data(spark, 'Sales_January_2019.csv')
    sales_feb_df= read_in_data(spark, 'Sales_February_2019.csv')
    sales_mar_df= read_in_data(spark, 'Sales_March_2019.csv')
    sales_april_df= read_in_data(spark, 'Sales_April_2019.csv')
    sales_may_df= read_in_data(spark, 'Sales_May_2019.csv')
    sales_june_df= read_in_data(spark, 'Sales_June_2019.csv')
    sales_july_df= read_in_data(spark, 'Sales_July_2019.csv')
    sales_aug_df= read_in_data(spark, 'Sales_August_2019.csv')
    sales_sep_df= read_in_data(spark, 'Sales_September_2019.csv')
    sales_oct_df= read_in_data(spark, 'Sales_October_2019.csv')
    sales_nov_df= read_in_data(spark, 'Sales_November_2019.csv')
    sales_dec_df= read_in_data(spark, 'Sales_December_2019.csv')
    
    
    ####  LIQUOR SALES DATA ####
    # read in the liquor.csv's a spark DataFrame
    
    liquor_sales_df= read_in_data(spark, 'Liquor_Sales.csv')
    
    #### TRANSFORM ####
    def extract_date_columns_liquor(df,date_col):
        df=df.withColumn('year', split(liquor_sales_df[date_col], '/').getItem(2)) \
       .withColumn('month', split(liquor_sales_df[date_col], '/').getItem(0)) 
        df=df.withColumn(date_col, to_date(date_col, "MM/dd/yyyy"))
        df=df.withColumn("week", weekofyear(date_col))
        return df
        
        
#     liquor_date_df=liquor_sales_df.withColumn('year', split(liquor_sales_df['Date'], '/').getItem(2)) \
#    .withColumn('month', split(liquor_sales_df['Date'], '/').getItem(0)) 
#     liquor_date_df=liquor_date_df.withColumn("Date", to_date("Date", "MM/dd/yyyy"))
#     liquor_date_df=liquor_date_df.withColumn("week", weekofyear("Date"))
      liquor_date_df=extract_date_columns_liquor(liquor_sales_df,"Date")
    
    
    def get_lat_long(df,point_col):
         df=df.withColumn("geometry_cleaned", regexp_replace(point_col, "POINT \\(", ""))\
        .withColumn("geometry_cleaned", regexp_replace("geometry_cleaned", "\\)", ""))\
        .withColumn("lat", split(col("geometry_cleaned"), " ")[1].cast("float")) \
        .withColumn("lon", split(col("geometry_cleaned"), " ")[0].cast("float"))\
        .drop("geometry_cleaned")
        return df   
            
    liquor_date_df= get_lat_long(liquor_date_df,"Store Location")    
    liquor_data_mart_df=missing_values_imputation(liquor_date_df)

     
    

     
#     liquor_date_df=liquor_date_df.withColumn("geometry_cleaned", regexp_replace("Store Location", "POINT \\(", ""))\
# .withColumn("geometry_cleaned", regexp_replace("geometry_cleaned", "\\)", ""))\
# .withColumn("lat", split(col("geometry_cleaned"), " ")[1].cast("float")) \
# .withColumn("lon", split(col("geometry_cleaned"), " ")[0].cast("float"))\
# .drop("geometry_cleaned")
    #liquor_date_df=missing_values_imputation(liquor_date_df)
 
    

    #### TRANSFORM ####


    books_ratings_df=books_ratings_df.withColumn('Price',col('Price').cast("integer"))
    books_ratings_df = books_ratings_df.withColumn("review/time", from_unixtime("review/time"))
  
    # Joing the book data and books_ratings data
    books_df_joined=books_df.join(books_ratings_df,books_df.Title ==  books_ratings_df.Title,"inner").drop(books_ratings_df.Title)
    books_df_joined=missing_values_imputation(books_df_joined)

    
    
    ####### Electronics transformation #######
  
    
    df_sales=unionAll(*[sales_jan_df, sales_feb_df,sales_mar_df,sales_april_df,sales_may_df,sales_june_df
           ,sales_july_df,sales_aug_df,sales_sep_df,sales_oct_df,sales_nov_df,sales_dec_df])
    
    ### SPLIT ADDRESS ###
    
    def split_address(df,address_col):
        df = df.withColumn("city", split(df[address_col],",").getItem(1))\
        .withColumn("state_code", split(df[address_col],",").getItem(2))
        df=df.withColumn("state", split(df["state_code"], " ").getItem(1))
        df = df.drop("state_code")
        return df
   
    df_sales=df_sales.withColumn("Order Date", to_date(unix_timestamp("Order Date", "MM/dd/yy HH:mm").cast("timestamp")))
    df_sales_split=split_address(df_sales,"Purchase Address")
    
#     split_df = df_sales.withColumn("city", split(df_sales["Purchase Address"],",").getItem(1))\
# .withColumn("state_code", split(df_sales["Purchase Address"],",").getItem(2))
#     df_sales_split=split_df.withColumn("state", split(split_df["state_code"], " ").getItem(1))
#     df_sales_split = df_sales_split.drop("state_code")
    
    ### date operations ###
    def extract_date_columns_electronics(df,date_col):
        df=df.withColumn('year', split(df[date_col], '-').getItem(0)) \
       .withColumn('month', split(df[date_col], '-').getItem(1)) 
        df = df.withColumn("orderDateOnly", to_date(date_col))
        df=df.withColumn("week", weekofyear(date_col"))
        return df
    df_date=extract_date_columns_electronics(df_sales_split,"Order Date")
    
#     df_date=df_sales_split.withColumn('year', split(df_sales_split['Order Date'], '-').getItem(0)) \
#        .withColumn('month', split(df_sales_split['Order Date'], '-').getItem(1)) 
#     df_date = df_date.withColumn("orderDateOnly", to_date("Order Date"))
#     df_date=df_date.withColumn("week", weekofyear("Order Date"))
    category_mapping = {
    "1": "Smartphone",
    "2": "Charging Cable",
    "3": "Headphones",
    "4": "Monitor",
    "5": "Batteries",
    "6": "Laptop",
    "7": "TV",
    "8": "Dryer",
    "9": "Washing Machine",
    "10": "others"
}
    df_date=df_date.withColumn("category",
                               when(col("product").contains("Batteries"), "Batteries")
                               .when(col("product").contains("Charging Cable"), "Charging Cable")
                               .when(col("product").contains("Phone"), "Smartphone")
                               .when(col("product").contains("Headphones"), "Headphones")
                               .when(col("product").contains("Laptop"), "Laptop")
                               .when(col("product").contains("TV"), "TV")
                               .when(col("product").contains("Dryer"), "Dryer")
                               .when(col("product").contains("Washing Machine"), "Washing Machine")
                               .otherwise("Others"))
    electronics_data_mart=missing_values_imputation(df_date)
  
    #### LOAD ####

    #OUTPUT_LOCATION = '/output'

    # save the above results as csv files in the bucket
#     output_result(sum_price_by_title, OUTPUT_LOCATION, 'Title')
#     output_result(count_price_by_title, OUTPUT_LOCATION, 'Title')

In [29]:


def extract_date_columns_liquor(df,date_col):
    df=df.withColumn('year', split(liquor_sales_df[date_col], '/').getItem(2)) \
   .withColumn('month', split(liquor_sales_df[date_col], '/').getItem(0)) 
    df=df.withColumn(date_col, to_date(date_col, "MM/dd/yyyy"))
    df=df.withColumn("week", weekofyear(date_col))
    return df

In [32]:
extract_date_columns_liquor(liquor_sales_df,"Date")

+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+----+-----+----+
|Invoice/Item Number|      Date|Store Number|          Store Name|             Address|           City|Zip Code|      Store Location|County Number|       County|Category|       Category Name|Vendor Number|         Vendor Name|Item Number|    Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|year|month|week|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+----+-----+----+
|       S24127700024|2015-02-19|        3678|     Smoke Shop, The|     1918 SE 14TH ST|     DES MOINES|   50320|POINT (-93.597011...|           77|         Polk| 1031200|      VODKA FLAVORED|          380|Phillips Beverage...|      41783|Uv Blue Raspberry...|   6|               500|             4.89|               7.34|           2|         14.68|                 1.0|                 0.26|2015|   02|   8|
|       S15066200002|2013-10-10|        2633|Hy-Vee #3 / BDI /...|     3221 SE 14TH ST|     DES MOINES|   50320|POINT (-93.596754...|           77|         Polk| 1082900|MISC. IMPORTED CO...|          305|             MHW Ltd|     904969|Sabe Premiom Sake...|   6|               750|            14.99|              22.49|           6|        134.94|                 4.5|                 1.19|2013|   10|  41|
|       S19323500030|2014-06-03|        2607|Hy-Vee Wine and S...|      520 SO FREMONT|     SHENANDOAH|   51601|POINT (-95.385111...|           73|         Page| 1062200|PUERTO RICO & VIR...|          434|      Luxco-St Louis|      45277| Paramount White Rum|  12|              1000|             4.34|               6.51|          12|         78.12|                12.0|                 3.17|2014|   06|  23|
|       S23334500013|2015-01-06|        4810|Kum & Go #518 / A...|3603 NE OTTERVIEW...|         ANKENY|   50021|POINT (-93.572458...|           77|         Polk| 1062200|PUERTO RICO & VIR...|           35|Bacardi U.S.A., Inc.|      43121|Bacardi Superior ...|  12|               500|             5.54|               8.31|           1|          8.31|                 0.5|                 0.13|2015|   01|   2|
|       S09742200010|2012-12-27|        4025|Karam Kaur Khasri...|         702 13TH ST|   BELLE PLAINE|   52208|POINT (-92.277759...|            6|       Benton| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11298|Crown Royal Canad...|   6|              1750|             31.0|              46.49|           2|         92.98|                 3.5|                 0.92|2012|   12|  52|
|       S15034600007|2013-10-09|        4583|Kum & Go #5100 / ...|         208 MAIN ST|         MANSON|   50563|POINT (-94.534532...|           13|      Calhoun| 1081200|      CREAM LIQUEURS|          305|             MHW Ltd|      73050|            Rumchata|   6|               750|             12.5|              18.75|           6|         112.5|                 4.5|                 1.19|2013|   10|  41|
|       S25185100053|2015-04-21|        5080|    C's Liquor Store|       719 2ND AVE W|        SPENCER|   51301|POINT (-95.147741...|           21|         Clay| 1081390|   IMPORTED SCHNAPPS|          421|   Sazerac Co., Inc.|      69713|Dr. McGillicuddy'...|  12|               500|             4.96|               7.44|           1|          7.44|                 0.5|                 0.13|2015|   04|  17|
|       S25786400073|2015-05-21|        5102|      Wilkie Liquors|    724, 1st  ST  SE|   MOUNT VERNON|   52314|POINT (-91.410401...|           57|         Linn| 1031080|      VODKA 80 PROOF|          434|      Luxco-St Louis|      36307|       Hawkeye Vodka|  12|              1000|             4.05|               6.08|          24|        145.92|                24.0|                 6.34|2015|   05|  21|
|       S26178600169|2015-06-15|        2506|Hy-Vee #1044 / Bu...|         3140 AGENCY|     BURLINGTON|   52601|POINT (-91.136655...|           29|   Des Moines| 1081600|     WHISKEY LIQUEUR|          260|     Diageo Americas|      66206|Piehole Cherry Pi...|  12|               500|              4.9|               7.35|           1|          7.35|                 0.5|                 0.13|2015|   06|  25|
|       S11599200028|2013-04-11|        2630|Hy-Vee Drugstore ...|       1010  60TH ST|WEST DES MOINES|   50266|POINT (-93.790534...|           77|         Polk| 1071100|  AMERICAN COCKTAILS|          395|             Proximo|      58838|Jose Cuervo Authe...|   6|              1750|              8.2|               12.3|           6|          73.8|                10.5|                 2.77|2013|   04|  15|
|       S14039300026|2013-08-21|        3916|Smokin' Joe's #5 ...|       1115 ALBIA RD|        OTTUMWA|   52501|POINT (-92.437224...|           90|      Wapello| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11294|Crown Royal Canad...|  24|               375|             7.65|              11.48|           1|         11.48|                0.38|                  0.1|2013|   08|  34|
|       S14777200004|2013-09-25|        4073|  Uptown Liquor, Llc|    306 HWY 69 SOUTH|    FOREST CITY|   50436|POINT (-93.633306...|           95|    Winnebago| 1012100|   CANADIAN WHISKIES|           55|Sazerac North Ame...|      12407| Canadian Ltd Whisky|  12|              1000|              5.5|               8.25|          12|          99.0|                12.0|                 3.17|2013|   09|  39|
|       S28698700004|2015-10-27|        2578|Hy-Vee / Charles ...|        901 KELLY ST|   CHARLES CITY|   50616|POINT (-92.675560...|           34|        Floyd| 1031080|      VODKA 80 PROOF|          260|     Diageo Americas|      37426|Popov Vodka 80 Pr...|  12|               750|              4.5|               6.75|          12|          81.0|                 9.0|                 2.38|2015|   10|  44|
|       S15825800006|2013-11-20|        4465| HOME TOWN FOOD ON 4|       714 S EAST ST|        POMEROY|   50575|POINT (-94.678054...|           13|      Calhoun| 1011100|    BLENDED WHISKIES|          434|      Luxco-St Louis|      24156|Hawkeye Blend Whi...|  12|               750|             3.36|               5.04|          24|        120.96|                18.0|                 4.76|2013|   11|  47|
|       S27233900076|2015-08-10|        2613|Hy-Vee Food Store...|     2323 W BROADWAY| COUNCIL BLUFFS|   51501|POINT (-95.879662...|           78|Pottawattamie| 1022100|             TEQUILA|          410|The Patron Spirit...|      88296|Patron Tequila Si...|  12|               750|             27.0|               40.5|          12|         486.0|                 9.0|                 2.38|2015|   08|  33|
|       S11716100052|2013-04-17|        3990|Cork and Bottle /...|      309 A AVE WEST|      OSKALOOSA|   52577|POINT (-92.648153...|           62|      Mahaska| 1032200|IMPORTED VODKA - ...|           35|Bacardi U.S.A., Inc.|      34436|Grey Goose Vodka ...|   6|               750|            17.97|              26.96|           1|         26.96|                0.75|                  0.2|2013|   04|  16|
|       S28977300019|2015-11-10|        4743|No Frills Superma...| 1801 VALLEY VIEW DR| COUNCIL BLUFFS|   51503|POINT (-95.818775...|           78|Pottawattamie| 1022100|             TEQUILA|          395|             Proximo|      89198|Jose Cuervo Espec...|   6|              1750|            20.25|              30.38|           6|        182.28|                10.5|                 2.77|2015|   11|  46|
|       S10005300010|2013-01-15|        2460|   Liquor Barn, Inc.|721 CENTRAL AVENU...|        HAMPTON|   50441|POINT (-93.21693 ...|           35|     Franklin| 1012100|   CANADIAN WHISKIES|           85|Brown-Forman Corp...|      12476|Canadian Mist Whi...|  12|               750|             5.44|               8.15|          12|          97.8|                 9.0|                 2.38|2013|   01|   3|
|       S08028500005|2012-10-01|        4109|           Best Trip|         1516 SE 1ST|     DES MOINES|   50315|POINT (-93.613469...|           77|         Polk| 1011500|STRAIGHT RYE WHIS...|          255| Wilson Daniels Ltd.|      27102|       Templeton Rye|   6|               750|            18.08|              27.13|           6|        162.78|                 4.5|                 1.19|2012|   10|  40|
|       S12260600026|2013-05-16|        3918|Smokin' Joe's #1 ...|  3120 ROCKINGHAM RD|      DAVENPORT|   52802|POINT (-90.621541...|           82|        Scott| 1081300| PEPPERMINT SCHNAPPS|          434|      Luxco-St Louis|      80576|Arrow Peppermint ...|  12|               750|             3.42|               5.13|           1|          5.13|                0.75|                  0.2|2013|   05|  20|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+----+-----+----+
only showing top 20 rows

In [28]:
#liquor_sales_df.show()

+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|      Date|Store Number|          Store Name|             Address|           City|Zip Code|      Store Location|County Number|       County|Category|       Category Name|Vendor Number|         Vendor Name|Item Number|    Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|       S24127700024|02/19/2015|        3678|     Smoke Shop, The|     1918 SE 14TH ST|     DES MOINES|   50320|POINT (-93.597011...|           77|         Polk| 1031200|      VODKA FLAVORED|          380|Phillips Beverage...|      41783|Uv Blue Raspberry...|   6|               500|             4.89|               7.34|           2|         14.68|                 1.0|                 0.26|
|       S15066200002|10/10/2013|        2633|Hy-Vee #3 / BDI /...|     3221 SE 14TH ST|     DES MOINES|   50320|POINT (-93.596754...|           77|         Polk| 1082900|MISC. IMPORTED CO...|          305|             MHW Ltd|     904969|Sabe Premiom Sake...|   6|               750|            14.99|              22.49|           6|        134.94|                 4.5|                 1.19|
|       S19323500030|06/03/2014|        2607|Hy-Vee Wine and S...|      520 SO FREMONT|     SHENANDOAH|   51601|POINT (-95.385111...|           73|         Page| 1062200|PUERTO RICO & VIR...|          434|      Luxco-St Louis|      45277| Paramount White Rum|  12|              1000|             4.34|               6.51|          12|         78.12|                12.0|                 3.17|
|       S23334500013|01/06/2015|        4810|Kum & Go #518 / A...|3603 NE OTTERVIEW...|         ANKENY|   50021|POINT (-93.572458...|           77|         Polk| 1062200|PUERTO RICO & VIR...|           35|Bacardi U.S.A., Inc.|      43121|Bacardi Superior ...|  12|               500|             5.54|               8.31|           1|          8.31|                 0.5|                 0.13|
|       S09742200010|12/27/2012|        4025|Karam Kaur Khasri...|         702 13TH ST|   BELLE PLAINE|   52208|POINT (-92.277759...|            6|       Benton| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11298|Crown Royal Canad...|   6|              1750|             31.0|              46.49|           2|         92.98|                 3.5|                 0.92|
|       S15034600007|10/09/2013|        4583|Kum & Go #5100 / ...|         208 MAIN ST|         MANSON|   50563|POINT (-94.534532...|           13|      Calhoun| 1081200|      CREAM LIQUEURS|          305|             MHW Ltd|      73050|            Rumchata|   6|               750|             12.5|              18.75|           6|         112.5|                 4.5|                 1.19|
|       S25185100053|04/21/2015|        5080|    C's Liquor Store|       719 2ND AVE W|        SPENCER|   51301|POINT (-95.147741...|           21|         Clay| 1081390|   IMPORTED SCHNAPPS|          421|   Sazerac Co., Inc.|      69713|Dr. McGillicuddy'...|  12|               500|             4.96|               7.44|           1|          7.44|                 0.5|                 0.13|
|       S25786400073|05/21/2015|        5102|      Wilkie Liquors|    724, 1st  ST  SE|   MOUNT VERNON|   52314|POINT (-91.410401...|           57|         Linn| 1031080|      VODKA 80 PROOF|          434|      Luxco-St Louis|      36307|       Hawkeye Vodka|  12|              1000|             4.05|               6.08|          24|        145.92|                24.0|                 6.34|
|       S26178600169|06/15/2015|        2506|Hy-Vee #1044 / Bu...|         3140 AGENCY|     BURLINGTON|   52601|POINT (-91.136655...|           29|   Des Moines| 1081600|     WHISKEY LIQUEUR|          260|     Diageo Americas|      66206|Piehole Cherry Pi...|  12|               500|              4.9|               7.35|           1|          7.35|                 0.5|                 0.13|
|       S11599200028|04/11/2013|        2630|Hy-Vee Drugstore ...|       1010  60TH ST|WEST DES MOINES|   50266|POINT (-93.790534...|           77|         Polk| 1071100|  AMERICAN COCKTAILS|          395|             Proximo|      58838|Jose Cuervo Authe...|   6|              1750|              8.2|               12.3|           6|          73.8|                10.5|                 2.77|
|       S14039300026|08/21/2013|        3916|Smokin' Joe's #5 ...|       1115 ALBIA RD|        OTTUMWA|   52501|POINT (-92.437224...|           90|      Wapello| 1012100|   CANADIAN WHISKIES|          260|     Diageo Americas|      11294|Crown Royal Canad...|  24|               375|             7.65|              11.48|           1|         11.48|                0.38|                  0.1|
|       S14777200004|09/25/2013|        4073|  Uptown Liquor, Llc|    306 HWY 69 SOUTH|    FOREST CITY|   50436|POINT (-93.633306...|           95|    Winnebago| 1012100|   CANADIAN WHISKIES|           55|Sazerac North Ame...|      12407| Canadian Ltd Whisky|  12|              1000|              5.5|               8.25|          12|          99.0|                12.0|                 3.17|
|       S28698700004|10/27/2015|        2578|Hy-Vee / Charles ...|        901 KELLY ST|   CHARLES CITY|   50616|POINT (-92.675560...|           34|        Floyd| 1031080|      VODKA 80 PROOF|          260|     Diageo Americas|      37426|Popov Vodka 80 Pr...|  12|               750|              4.5|               6.75|          12|          81.0|                 9.0|                 2.38|
|       S15825800006|11/20/2013|        4465| HOME TOWN FOOD ON 4|       714 S EAST ST|        POMEROY|   50575|POINT (-94.678054...|           13|      Calhoun| 1011100|    BLENDED WHISKIES|          434|      Luxco-St Louis|      24156|Hawkeye Blend Whi...|  12|               750|             3.36|               5.04|          24|        120.96|                18.0|                 4.76|
|       S27233900076|08/10/2015|        2613|Hy-Vee Food Store...|     2323 W BROADWAY| COUNCIL BLUFFS|   51501|POINT (-95.879662...|           78|Pottawattamie| 1022100|             TEQUILA|          410|The Patron Spirit...|      88296|Patron Tequila Si...|  12|               750|             27.0|               40.5|          12|         486.0|                 9.0|                 2.38|
|       S11716100052|04/17/2013|        3990|Cork and Bottle /...|      309 A AVE WEST|      OSKALOOSA|   52577|POINT (-92.648153...|           62|      Mahaska| 1032200|IMPORTED VODKA - ...|           35|Bacardi U.S.A., Inc.|      34436|Grey Goose Vodka ...|   6|               750|            17.97|              26.96|           1|         26.96|                0.75|                  0.2|
|       S28977300019|11/10/2015|        4743|No Frills Superma...| 1801 VALLEY VIEW DR| COUNCIL BLUFFS|   51503|POINT (-95.818775...|           78|Pottawattamie| 1022100|             TEQUILA|          395|             Proximo|      89198|Jose Cuervo Espec...|   6|              1750|            20.25|              30.38|           6|        182.28|                10.5|                 2.77|
|       S10005300010|01/15/2013|        2460|   Liquor Barn, Inc.|721 CENTRAL AVENU...|        HAMPTON|   50441|POINT (-93.21693 ...|           35|     Franklin| 1012100|   CANADIAN WHISKIES|           85|Brown-Forman Corp...|      12476|Canadian Mist Whi...|  12|               750|             5.44|               8.15|          12|          97.8|                 9.0|                 2.38|
|       S08028500005|10/01/2012|        4109|           Best Trip|         1516 SE 1ST|     DES MOINES|   50315|POINT (-93.613469...|           77|         Polk| 1011500|STRAIGHT RYE WHIS...|          255| Wilson Daniels Ltd.|      27102|       Templeton Rye|   6|               750|            18.08|              27.13|           6|        162.78|                 4.5|                 1.19|
|       S12260600026|05/16/2013|        3918|Smokin' Joe's #1 ...|  3120 ROCKINGHAM RD|      DAVENPORT|   52802|POINT (-90.621541...|           82|        Scott| 1081300| PEPPERMINT SCHNAPPS|          434|      Luxco-St Louis|      80576|Arrow Peppermint ...|  12|               750|             3.42|               5.13|           1|          5.13|                0.75|                  0.2|
+-------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+-------------+--------+--------------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 20 rows

In [ ]:
liquor_date_df.describe()

In [11]:
from pyspark.sql.functions import when, isnan, count, col, monotonically_increasing_id, round

def find_row_missing_percentage(df):
    """
    This function takes a PySpark DataFrame as input and returns a dataframe after adding 
    columns that have missing values and the percentage of missing values in each row.

    :param df: PySpark DataFrame
    :return: PySpark DataFrame with percentage missing in each row
             List containing percentage of missing rows
    """
    # Count the number of columns
    total_columns = len(df.columns)

    # Find rows with missing values and count missing values in each row
    missing_values_df = df.select("*",
        sum(when(isnan(col(column_name)) | col(column_name).isNull(), 1).otherwise(0)
            for column_name in df.columns).alias("missing_count"))

    # Calculate the percentage of missing values for each row
    missing_percent_df = missing_values_df.withColumn("percent_missing", col("missing_count") / total_columns * 100)

    missing_percent_df = missing_percent_df.withColumn("percent_missing", round(missing_percent_df["percent_missing"], 0))

    # Calculate percentage of missing rows in dataframe 
    No_of_missRows = missing_percent_df.select('missing_count').where(missing_percent_df.missing_count>0).count()
    Percent_miss_rows = No_of_missRows/df.count()

    return missing_percent_df, Percent_miss_rows

In [2]:
liquor_date_df.describe()

DataFrame[summary: string, Invoice/Item Number: string, Store Number: string, Store Name: string, Address: string, City: string, Zip Code: string, Store Location: string, County Number: string, County: string, Category: string, Category Name: string, Vendor Number: string, Vendor Name: string, Item Number: string, Item Description: string, Pack: string, Bottle Volume (ml): string, State Bottle Cost: string, State Bottle Retail: string, Bottles Sold: string, Sale (Dollars): string, Volume Sold (Liters): string, Volume Sold (Gallons): string, year: string, month: string, week: string, lat: string, lon: string]

In [6]:
liquor_date_df.select("Date","week").show()

+----------+----+
|      Date|week|
+----------+----+
|2015-02-19|   8|
|2013-10-10|  41|
|2014-06-03|  23|
|2015-01-06|   2|
|2012-12-27|  52|
|2013-10-09|  41|
|2015-04-21|  17|
|2015-05-21|  21|
|2015-06-15|  25|
|2013-04-11|  15|
|2013-08-21|  34|
|2013-09-25|  39|
|2015-10-27|  44|
|2013-11-20|  47|
|2015-08-10|  33|
|2013-04-17|  16|
|2015-11-10|  46|
|2013-01-15|   3|
|2012-10-01|  40|
|2013-05-16|  20|
+----------+----+
only showing top 20 rows

In [10]:
liquor_date_df=liquor_date_df.withColumn("geometry_cleaned", regexp_replace("Store Location", "POINT \\(", ""))\
.withColumn("geometry_cleaned", regexp_replace("geometry_cleaned", "\\)", ""))\
.withColumn("lat", split(col("geometry_cleaned"), " ")[1].cast("float")) \
.withColumn("lon", split(col("geometry_cleaned"), " ")[0].cast("float"))\
.drop("geometry_cleaned").show()

+---------+----------+
|      lat|       lon|
+---------+----------+
|41.570843| -93.59701|
|  41.5541|-93.596756|
|40.761738| -95.38511|
| 41.76099| -93.57246|
|41.897053|-92.277756|
|42.517857| -94.53453|
| 43.14521| -95.14774|
|41.918327|  -91.4104|
|40.814667| -91.13666|
| 41.58498|-93.790535|
|41.009342|-92.437225|
| 43.26154| -93.63331|
|43.066994| -92.67556|
| 42.54299|-94.678055|
|41.261925| -95.87966|
|41.296227|-92.648155|
| 41.24394| -95.81877|
| 42.74173| -93.21693|
|41.575928| -93.61347|
|41.510082|-90.621544|
+---------+----------+
only showing top 20 rows

In [8]:
liquor_date_df=liquor_sales_df.withColumn('year', split(liquor_sales_df['Date'], '/').getItem(2)) \
   .withColumn('month', split(liquor_sales_df['Date'], '/').getItem(0))

In [9]:
liquor_date_df.select("year","month").show(1)

+----+-----+
|year|month|
+----+-----+
|2015|   02|
+----+-----+
only showing top 1 row

In [ ]:

liquor_sales_df = liquor_sales_df.withColumn("orderDateOnly", to_date("Order Date"))
liquor_sales_df=liquor_sales_df.withColumn("week", weekofyear("Order Date"))

In [3]:
df_date.count()

186850

In [22]:
##Electronic sales daily,weekly monthly,yearly

# df_date.groupBy("orderDateOnly", "Product") \
#     .agg(round(sum(col("Quantity Ordered") * col("Price Each")), 2).alias("salesAmount")) \
#     .show()



# df_date.groupBy("month", "Product") \
#     .agg(round(sum(col("Quantity Ordered") * col("Price Each")), 2).alias("salesAmount")) \
#     .show()


# df_date.groupBy("year", "Product") \
#     .agg(round(sum(col("Quantity Ordered") * col("Price Each")), 2).alias("salesAmount")) \
#     .show()


# df_date.groupBy("week", "Product") \
# .agg(round(sum(col("Quantity Ordered") * col("Price Each")), 2).alias("salesAmount")) \
#     .show()


# top_products = df_date.groupBy('Product') \
#                  .agg(round(sum(col("Quantity Ordered") * col("Price Each")), 2).alias('total_sales')) \
#                  .orderBy(desc('total_sales')) \
#                  .limit(10)

# top_products.show()

In [2]:
# # split() with withColumn
# df_date=df_sales_split.withColumn('year', split(df_sales_split['Order Date'], '-').getItem(0)) \
#        .withColumn('month', split(df_sales_split['Order Date'], '-').getItem(1)) 
# df_date = df_date.withColumn("orderDateOnly", to_date("Order Date"))

# df_date.show(truncate=False)

In [101]:
split_df = df_sales.withColumn("city", split(df_sales["Purchase Address"],",").getItem(1))\
.withColumn("state_code", split(df_sales["Order Date Address"],",").getItem(2))

In [114]:
df_sales_split.show()

+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|          city|state|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
|  141234|              iPhone|               1|     700.0|01/22/19 21:25|944 Walnut St, Bo...|        Boston|   MA|
|  141235|Lightning Chargin...|               1|     14.95|01/28/19 14:15|185 Maple St, Por...|      Portland|   OR|
|  141236|    Wired Headphones|               2|     11.99|01/17/19 13:33|538 Adams St, San...| San Francisco|   CA|
|  141237|    27in FHD Monitor|               1|    149.99|01/05/19 20:33|738 10th St, Los ...|   Los Angeles|   CA|
|  141238|    Wired Headphones|               1|     11.99|01/25/19 11:59|387 10th St, Aust...|        Austin|   TX|
|  141239|AAA Batteries (4-...|               1|      2.99|01/29/19 20:22|775 Willow St, Sa...| San Francisco|   CA|
|  141240|27in 4K Gaming Mo...|               1|    389.99|01/26/19 12:16|979 Park St, Los ...|   Los Angeles|   CA|
|  141241|USB-C Charging Cable|               1|     11.95|01/05/19 12:04|181 6th St, San F...| San Francisco|   CA|
|  141242|Bose SoundSport H...|               1|     99.99|01/01/19 10:30|867 Willow St, Lo...|   Los Angeles|   CA|
|  141243|Apple Airpods Hea...|               1|     150.0|01/22/19 21:20|657 Johnson St, S...| San Francisco|   CA|
|  141244|Apple Airpods Hea...|               1|     150.0|01/07/19 11:29|492 Walnut St, Sa...| San Francisco|   CA|
|  141245|  Macbook Pro Laptop|               1|    1700.0|01/31/19 10:12|322 6th St, San F...| San Francisco|   CA|
|  141246|AAA Batteries (4-...|               3|      2.99|01/09/19 18:57|618 7th St, Los A...|   Los Angeles|   CA|
|  141247|    27in FHD Monitor|               1|    149.99|01/25/19 19:19|512 Wilson St, Sa...| San Francisco|   CA|
|  141248|       Flatscreen TV|               1|     300.0|01/03/19 21:54|363 Spruce St, Au...|        Austin|   TX|
|  141249|    27in FHD Monitor|               1|    149.99|01/05/19 17:20|440 Cedar St, Por...|      Portland|   OR|
|  141250|     Vareebadd Phone|               1|     400.0|01/10/19 11:20|471 Center St, Lo...|   Los Angeles|   CA|
|  141251|Apple Airpods Hea...|               1|     150.0|01/24/19 08:13|414 Walnut St, Bo...|        Boston|   MA|
|  141252|USB-C Charging Cable|               1|     11.95|01/30/19 09:28|220 9th St, Los A...|   Los Angeles|   CA|
|  141253|AA Batteries (4-p...|               1|      3.84|01/17/19 00:09|385 11th St, Atla...|       Atlanta|   GA|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------+-----+
only showing top 20 rows

In [115]:
df_sales_split.withColumn("Order Date", to_date(unix_timestamp("Order Date", "MM/dd/yy HH:mm").cast("timestamp"))).show()

+--------+--------------------+----------------+----------+----------+--------------------+--------------+-----+
|Order ID|             Product|Quantity Ordered|Price Each|Order Date|    Purchase Address|          city|state|
+--------+--------------------+----------------+----------+----------+--------------------+--------------+-----+
|  141234|              iPhone|               1|     700.0|2019-01-22|944 Walnut St, Bo...|        Boston|   MA|
|  141235|Lightning Chargin...|               1|     14.95|2019-01-28|185 Maple St, Por...|      Portland|   OR|
|  141236|    Wired Headphones|               2|     11.99|2019-01-17|538 Adams St, San...| San Francisco|   CA|
|  141237|    27in FHD Monitor|               1|    149.99|2019-01-05|738 10th St, Los ...|   Los Angeles|   CA|
|  141238|    Wired Headphones|               1|     11.99|2019-01-25|387 10th St, Aust...|        Austin|   TX|
|  141239|AAA Batteries (4-...|               1|      2.99|2019-01-29|775 Willow St, Sa...| San Francisco|   CA|
|  141240|27in 4K Gaming Mo...|               1|    389.99|2019-01-26|979 Park St, Los ...|   Los Angeles|   CA|
|  141241|USB-C Charging Cable|               1|     11.95|2019-01-05|181 6th St, San F...| San Francisco|   CA|
|  141242|Bose SoundSport H...|               1|     99.99|2019-01-01|867 Willow St, Lo...|   Los Angeles|   CA|
|  141243|Apple Airpods Hea...|               1|     150.0|2019-01-22|657 Johnson St, S...| San Francisco|   CA|
|  141244|Apple Airpods Hea...|               1|     150.0|2019-01-07|492 Walnut St, Sa...| San Francisco|   CA|
|  141245|  Macbook Pro Laptop|               1|    1700.0|2019-01-31|322 6th St, San F...| San Francisco|   CA|
|  141246|AAA Batteries (4-...|               3|      2.99|2019-01-09|618 7th St, Los A...|   Los Angeles|   CA|
|  141247|    27in FHD Monitor|               1|    149.99|2019-01-25|512 Wilson St, Sa...| San Francisco|   CA|
|  141248|       Flatscreen TV|               1|     300.0|2019-01-03|363 Spruce St, Au...|        Austin|   TX|
|  141249|    27in FHD Monitor|               1|    149.99|2019-01-05|440 Cedar St, Por...|      Portland|   OR|
|  141250|     Vareebadd Phone|               1|     400.0|2019-01-10|471 Center St, Lo...|   Los Angeles|   CA|
|  141251|Apple Airpods Hea...|               1|     150.0|2019-01-24|414 Walnut St, Bo...|        Boston|   MA|
|  141252|USB-C Charging Cable|               1|     11.95|2019-01-30|220 9th St, Los A...|   Los Angeles|   CA|
|  141253|AA Batteries (4-p...|               1|      3.84|2019-01-17|385 11th St, Atla...|       Atlanta|   GA|
+--------+--------------------+----------------+----------+----------+--------------------+--------------+-----+
only showing top 20 rows

In [105]:
df_sales_split.show(1)

+--------+-------+----------------+----------+--------------+--------------------+-------+-----+
|Order ID|Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|   city|state|
+--------+-------+----------------+----------+--------------+--------------------+-------+-----+
|  141234| iPhone|               1|     700.0|01/22/19 21:25|944 Walnut St, Bo...| Boston|   MA|
+--------+-------+----------------+----------+--------------+--------------------+-------+-----+
only showing top 1 row

In [ ]:
# df1 = df.withColumn('year', split(df['dob'], '-').getItem(0)) \
#        .withColumn('month', split(df['dob'], '-').getItem(1)) \
#        .withColumn('day', split(df['dob'], '-').getItem(2))
# df1.show(truncate=False)

In [81]:
split_df.show(2)

+--------+--------------------+----------------+----------+--------------+--------------------+--------------------+---------+---------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|        split_column|     city|    state|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------------+---------+---------+
|  141234|              iPhone|               1|     700.0|01/22/19 21:25|944 Walnut St, Bo...|[944 Walnut St,  ...|   Boston| MA 02215|
|  141235|Lightning Chargin...|               1|     14.95|01/28/19 14:15|185 Maple St, Por...|[185 Maple St,  P...| Portland| OR 97035|
+--------+--------------------+----------------+----------+--------------+--------------------+--------------------+---------+---------+
only showing top 2 rows

In [74]:
df_sales1=df_sales.select(split(df_sales["Purchase Address"], ",").alias("city")[1])

In [75]:
df_sales1

DataFrame[split(Purchase Address, ,, -1) AS city[1]: string]

In [71]:
df_sales.select(split(df_sales["Purchase Address"], ",").alias("split_columns")[2]).show(1)

+--------------------------------------------------+
|split(Purchase Address, ,, -1) AS split_columns[2]|
+--------------------------------------------------+
|                                          MA 02215|
+--------------------------------------------------+
only showing top 1 row

In [62]:


books_ratings_df = books_ratings_df.withColumn("review/time", from_unixtime("review/time"))

In [60]:
books_ratings_df.show(1)

+----------+--------------------+-----+-------------+--------------------+------------------+------------+-------------------+--------------------+--------------------+
|        Id|               Title|Price|      User_id|         profileName|review/helpfulness|review/score|        review/time|      review/summary|         review/text|
+----------+--------------------+-----+-------------+--------------------+------------------+------------+-------------------+--------------------+--------------------+
|1882931173|Its Only Art If I...| null|AVCGYZL8FQQTD|"Jim of Oz ""jim-...|               7/7|         4.0|1999-10-23 08:00:00|Nice collection o...|This is only for ...|
+----------+--------------------+-----+-------------+--------------------+------------------+------------+-------------------+--------------------+--------------------+
only showing top 1 row

In [22]:



books_df.join(books_ratings_df,books_df.Title ==  books_ratings_df.Title,"inner").drop(books_ratings_df.Title).columns

['Title',
 'description',
 'authors',
 'image',
 'previewLink',
 'publisher',
 'publishedDate',
 'infoLink',
 'categories',
 'ratingsCount',
 'Id',
 'Price',
 'User_id',
 'profileName',
 'review/helpfulness',
 'review/score',
 'review/time',
 'review/summary',
 'review/text']

In [55]:
books_df_joined.count()

2999829

In [1]:
#books_df_joined.printSchema()

In [51]:
books_df.count()#212404
books_ratings_df.count()#3000000

212404

In [34]:
liquor_sales_df.printSchema()

root
 |-- Invoice/Item Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Store Number: integer (nullable = true)
 |-- Store Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Store Location: string (nullable = true)
 |-- County Number: integer (nullable = true)
 |-- County: string (nullable = true)
 |-- Category: integer (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Vendor Number: integer (nullable = true)
 |-- Vendor Name: string (nullable = true)
 |-- Item Number: string (nullable = true)
 |-- Item Description: string (nullable = true)
 |-- Pack: integer (nullable = true)
 |-- Bottle Volume (ml): integer (nullable = true)
 |-- State Bottle Cost: double (nullable = true)
 |-- State Bottle Retail: double (nullable = true)
 |-- Bottles Sold: integer (nullable = true)
 |-- Sale (Dollars): double (nullable = true)
 |-- Volume Sold (Liters): double (nullable = true)
 |-- Volume Sold (Gallons): double (nullable = true)

In [14]:
category_mapping = {
    "1": "Smartphone",
    "2": "Charging Cable",
    "3": "Headphones",
    "4": "Monitor",
    "5": "Batteries",
    "6": "Laptop",
    "7": "TV",
    "8": "Dryer",
    "9": "Washing Machine",
    "10": "others"
}

In [5]:
category_mapping

{1: 'Smartphone',
 2: 'Charging Cable',
 3: 'Headphones',
 4: 'Monitor',
 5: 'Batteries',
 6: 'Laptop',
 7: 'TV',
 8: 'Dryer',
 9: 'Washing Machine',
 10: 'others'}

In [58]:
# when_conditions = []
# for category_id, category_name in category_mapping.items():
#     when_conditions.append(when(col("product").contains(category_name), category_name))

# mapped_df = df_date.withColumn("category", 
#                                   when(*when_conditions)
#                                   .otherwise("Others"))

In [61]:
df_date.withColumn("category",
                               when(col("product").contains("Batteries"), "Batteries")
                               .when(col("product").contains("Charging Cable"), "Charging Cable")
                               .when(col("product").contains("Phone"), "Smartphone")
                               .when(col("product").contains("Headphones"), "Headphones")
                               .when(col("product").contains("Laptop"), "Laptop")
                               .when(col("product").contains("TV"), "TV")
                               .when(col("product").contains("Dryer"), "Dryer")
                               .when(col("product").contains("Washing Machine"), "Washing Machine")
                               .otherwise("Others")).select("category","product").show()

+--------------+--------------------+
|      category|             product|
+--------------+--------------------+
|    Smartphone|              iPhone|
|Charging Cable|Lightning Chargin...|
|    Headphones|    Wired Headphones|
|        Others|    27in FHD Monitor|
|    Headphones|    Wired Headphones|
|     Batteries|AAA Batteries (4-...|
|        Others|27in 4K Gaming Mo...|
|Charging Cable|USB-C Charging Cable|
|    Headphones|Bose SoundSport H...|
|    Headphones|Apple Airpods Hea...|
|    Headphones|Apple Airpods Hea...|
|        Laptop|  Macbook Pro Laptop|
|     Batteries|AAA Batteries (4-...|
|        Others|    27in FHD Monitor|
|            TV|       Flatscreen TV|
|        Others|    27in FHD Monitor|
|    Smartphone|     Vareebadd Phone|
|    Headphones|Apple Airpods Hea...|
|Charging Cable|USB-C Charging Cable|
|     Batteries|AA Batteries (4-p...|
+--------------+--------------------+
only showing top 20 rows

In [51]:
books_df_joined.limit(10).select(explode(split(col("categories"), ", ")).alias("word")) \
    .groupBy("word") \
    .count() \
    .orderBy("count", ascending=False).show()

+--------------------+-----+
|                word|count|
+--------------------+-----+
|http://books.goog...|    3|
|                    |    2|
| a service for wh...|    2|
|http://books.goog...|    2|
|http://books.goog...|    1|
+--------------------+-----+

In [55]:
books_df_joined.select("categories").distinct()

28362

In [19]:
#df_date.select("Product").distinct().collect()

In [38]:
# sales_jan_df= read_in_data(spark, 'Sales_January_2019.csv')
# sales_feb_df= read_in_data(spark, 'Sales_February_2019.csv')
# sales_mar_df= read_in_data(spark, 'Sales_March_2019.csv')
# sales_april_df= read_in_data(spark, 'Sales_April_2019.csv')
# sales_may_df= read_in_data(spark, 'Sales_May_2019.csv')
# sales_june_df= read_in_data(spark, 'Sales_June_2019.csv')
# sales_july_df= read_in_data(spark, 'Sales_July_2019.csv')
# sales_aug_df= read_in_data(spark, 'Sales_August_2019.csv')
# sales_sep_df= read_in_data(spark, 'Sales_September_2019.csv')
# sales_oct_df= read_in_data(spark, 'Sales_October_2019.csv')
# sales_nov_df= read_in_data(spark, 'Sales_November_2019.csv')
# sales_dec_df= read_in_data(spark, 'Sales_December_2019.csv')


# def unionAll(*dfs):
#     return reduce(DataFrame.unionAll, dfs) 

# df_sales=unionAll(*[sales_jan_df, sales_feb_df,sales_mar_df,sales_april_df,sales_may_df,sales_june_df
#            ,sales_july_df,sales_aug_df,sales_sep_df,sales_oct_df,sales_nov_df,sales_dec_df])

In [23]:
#df_sales.describe()
#df_sales.select('Order Date').distinct().collect()
#df_sales.show().limit(3)

DataFrame[summary: string, Order ID: string, Product: string, Quantity Ordered: string, Price Each: string, Order Date: string, Purchase Address: string]

In [ ]:
#liquor_sales_df

In [ ]:
SERVER_ADDR_port = "income-mysql-db.cjuyq4k026ji.us-east-2.rds.amazonaws.com:3306"
db_name = "income"
f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}"

In [41]:
books_ratings_df.limit(10).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "books_rating") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

In [40]:
liquor_sales_df.limit(10).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "liquor_sales") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

In [36]:
df_sales.limit(10).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "sales_data") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

In [5]:
SERVER_ADDR_port = "income-mysql-db.cjuyq4k026ji.us-east-2.rds.amazonaws.com:3306"
db_name = "income"

books_df.limit(100).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "books_data") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

spark.stop()

In [49]:
##Electronics data mart
SERVER_ADDR_port = "income-mysql-db.cjuyq4k026ji.us-east-2.rds.amazonaws.com:3306"
db_name = "income"

df_date_electronics.limit(1000).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "electronicsDataMart") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

In [8]:
##liquor data mart
SERVER_ADDR_port = "income-mysql-db.cjuyq4k026ji.us-east-2.rds.amazonaws.com:3306"
db_name = "income"

liquor_date_df.limit(30).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "liquorDataMart") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()

In [3]:
books_df_joined.count()

2999829

In [20]:
books_df_joined.columns

['Title',
 'description',
 'authors',
 'image',
 'previewLink',
 'publisher',
 'publishedDate',
 'infoLink',
 'categories',
 'ratingsCount',
 'Id',
 'Title',
 'Price',
 'User_id',
 'profileName',
 'review/helpfulness',
 'review/score',
 'review/time',
 'review/summary',
 'review/text']

In [26]:
##Books data mart
SERVER_ADDR_port = "income-mysql-db.cjuyq4k026ji.us-east-2.rds.amazonaws.com:3306"
db_name = "income"

books_df_joined.limit(100).write \
  .format("jdbc") \
  .option("driver","com.mysql.cj.jdbc.Driver") \
  .mode("overwrite") \
  .option("url", f"jdbc:mysql://{SERVER_ADDR_port}/{db_name}") \
  .option("dbtable", "books_data_mart") \
  .option("user", "admin") \
  .option("password", "Logindatabase24") \
  .save()
#spark.stop()

In [ ]:
#   .option("fetchSize", 50000)\
#   .option("isolationLevel", "NONE")\
#   .option("queryTimeout", 600)\
 # .option("numPartitions", 10)\

In [2]:
print()

## handling nulls

In [40]:
df_temp = books_df_joined.limit(10)

replacements = {
    "int": 0,
    "double": 0.0,
    "float": 0.0,
    "string": ""
}

# Loop through columns and apply replacement rules
for col_name, data_type in df_temp.dtypes:
    replacement_value = replacements.get(data_type.lower(), None)
    if replacement_value is not None:
        df_temp = df_temp.withColumn(col_name, when(col(col_name).isNull(), replacement_value).otherwise(col(col_name)))

df_temp.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+
|         description|             authors|               image|         previewLink|           publisher|       publishedDate|            infoLink|          categories|        ratingsCount|        Id|Price|             User_id|         profileName|  review/helpfulness|        review/score|        review/time|      review/summary|         review/text|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+
|",,['Kensil Bell'...|&dq=%22Always+rea...|&hl=&cd=1&source=...|                    |                1943|http://books.goog...|                    |                    |                    |B0007H2HAM|    0|        stout hearts|  and alert minds"""|"It's hard to bel...| it's the narrati...|                   | Bell had already...| 1941) which was ...|
|                    |['Allan Scott', '...|                    |http://books.goog...|                    |                1985|http://books.goog...|                    |                    |0804467900|    0|      A15LK8DSFQZZ52|"Patricia R. Ande...|                 0/0|                 5.0|2003-02-18 08:00:00|Fred and Ginger, ...|This book is the ...|
|","Best known for...| John R. Abernath...| Abernathy consid...|             sheriff| Secret Service a...| and wildcat oil ...| he could stun th...| a service for wh...|['John R. Abernat...|B00085T7O2|    0|                 0/1|                 5.0|          1341705600|Fascinating life ...|                   |                    |                    |
|","Best known for...| John R. Abernath...| Abernathy consid...|             sheriff| Secret Service a...| and wildcat oil ...| he could stun th...| a service for wh...|['John R. Abernat...|B00085T7O2|    0| terrible forward...|I found the book ...|                    |                    |                   |                    |                    |
|                    |['Martha Peterson...|                    |http://books.goog...|                    |          1998-01-01|http://books.goog...|         ['Indiana']|                    |1891598015|    0|        AKNICOEAMLIE|                Dave|                 1/1|                 3.0|2004-03-21 08:00:00|Historical overvi...|I received my cop...|
|                    |['Martha Peterson...|                    |http://books.goog...|                    |          1998-01-01|http://books.goog...|         ['Indiana']|                    |1891598015|    0|       AJ197S8I2DAJX|           nauvoo_04|                 0/0|                 3.0|2004-06-24 08:00:00|Review from an In...|I borrowed this b...|
|Say I Do to Succe...|                    |http://books.goog...|http://books.goog...|  Entrepreneur Press|          2012-07-15|https://play.goog...|['Business & Econ...|                    |0967086302|    0|                    |                    |                 0/0|                 2.0|2000-04-10 08:00:00|Informative and a...|This book is help...|
|Say I Do to Succe...|                    |http://books.goog...|http://books.goog...|  Entrepreneur Press|          2012-07-15|https://play.goog...|['Business & Econ...|                    |0967086302|    0|       A3ZGOSKOHFBY2|  """deshawpatton"""|                 0/2|                 4.0|2003-01-06 08:00:00|        Very Helpful|Thank you for thi...|
|Say I Do to Succe...|                    |http://books.goog...|http://books.goog...|  Entrepreneur Press|          2012-07-15|https://play.goog...|['Business & Econ...|                    |0967086302|    0|      A1KUCLWJFY5DFT|      """emkemper"""|               26/28|                 2.0|2000-10-15 08:00:00|frustrating and c...|This book, while ...|
|Say I Do to Succe...|                    |http://books.goog...|http://books.goog...|  Entrepreneur Press|          2012-07-15|https://play.goog...|['Business & Econ...|                    |0967086302|    0|                    |                    |               13/13|                 2.0|2001-07-28 08:00:00|Not Enough Info o...|This book may be ...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+

In [56]:
books_df_joined.columns

['description',
 'authors',
 'image',
 'previewLink',
 'publisher',
 'publishedDate',
 'infoLink',
 'categories',
 'ratingsCount',
 'Id',
 'Price',
 'User_id',
 'profileName',
 'review/helpfulness',
 'review/score',
 'review/time',
 'review/summary',
 'review/text']

In [25]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Tokenizer, Word2Vec, StringIndexer
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.sql.functions import col

# Preprocess the text data
preprocessed_df = df_temp.withColumn("categories_processed", lower(col("categories")))

# Tokenize the preprocessed text
tokenizer = Tokenizer(inputCol="categories_processed", outputCol="tokens")
tokenized_df = tokenizer.transform(preprocessed_df)

# Vectorize the tokens using Word2Vec
word2vec = Word2Vec(vectorSize=100, minCount=5, inputCol="tokens", outputCol="features")
model = word2vec.fit(tokenized_df)
vectorized_df = model.transform(tokenized_df)

# Convert string labels to numeric indices
label_indexer = StringIndexer(inputCol="categories", outputCol="label")
indexed_df = label_indexer.fit(vectorized_df).transform(vectorized_df)

# Train a classification model
train_df = indexed_df.filter(indexed_df["label"].isNotNull())
lr = LogisticRegression(featuresCol="features", labelCol="label", predictionCol="predicted_label")
pipeline = Pipeline(stages=[lr])
model = pipeline.fit(train_df)

# Impute missing categories
predict_df = indexed_df.filter(indexed_df["label"].isNull())
imputed_df = model.transform(predict_df)

In [17]:
imputed_df.write.csv("test_nlp.csv", header=True, mode="overwrite")

AnalysisException: CSV data source does not support array<string> data type.

In [5]:
df_temp = books_df_joined.limit(100)

from pyspark.sql import SparkSession
from pyspark.ml.feature import Tokenizer, Word2Vec
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.sql.functions import col
# Preprocess the text data
# Assuming "categories" is the column containing text data
preprocessed_df = df_temp.withColumn("categories_processed", lower(col("categories")))

# Tokenize the preprocessed text
tokenizer = Tokenizer(inputCol="categories_processed", outputCol="tokens")
tokenized_df = tokenizer.transform(preprocessed_df)

# Vectorize the tokens using Word2Vec
word2vec = Word2Vec(vectorSize=100, minCount=5, inputCol="tokens", outputCol="features")
model = word2vec.fit(tokenized_df)
vectorized_df = model.transform(tokenized_df)

# Train a classification model
# Assuming there are some labels for training
train_df = vectorized_df.filter(vectorized_df["categories"].isNotNull())
lr = LogisticRegression(featuresCol="features", labelCol="categories", predictionCol="predicted_categories")
pipeline = Pipeline(stages=[lr])
model = pipeline.fit(train_df)

# Impute missing categories
predict_df = vectorized_df.filter(vectorized_df["categories"].isNull())
imputed_df = model.transform(predict_df)

# Select necessary columns and save the DataFrame with imputed categories
result_df = imputed_df.select("book_id", "title", "author", "categories", "predicted_categories")

IllegalArgumentException: requirement failed: Column categories must be of type numeric but was actually of type string.

In [9]:
train_df.select("categories").show()

+--------------------+
|          categories|
+--------------------+
|                    |
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|                    |
| a service for wh...|
| a service for wh...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|http://books.goog...|
|         ['Indiana']|
|         ['Indiana']|
|['Business & Econ...|
|['Business & Econ...|
+--------------------+
only showing top 20 rows